/* Styles for the header */

#header {
  margin-bottom: 20px;
  position: relative;
  font-size: 12px;
  font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
  color: #202020;
  border-top: 2px solid #0BACB6;
  border-bottom: 7px solid #17b4e3;
  line-height: normal;
  padding-bottom: 22px;
}
#fine-print, #header {
  border-top: 2px solid #0bacb6;
}
#logo {
  position: relative;
  top: 5px;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}
#header a {
  color: #1E4193;
  text-decoration: none;
}
#logo img {
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  border-right: 1px solid #0BACB6;
  padding-right: 0.75em;
}
#logo, #log img {
  display: block;
}
#logo .site-name-slogan {
  font-size: 14px;
  position: relative;
  top: 10px;
  left: -2px;
}
#logo .site-name-slogan span {
  display: block;
  font-size: 24px;
  position: relative;
  left: -2px;
}
#logo .site-name-slogan .slogan {
  color: #202020;
  font-size: 12px;
  position: relative;
  left: 1px;
}
#siteNameBox {
  margin-top: 1em;
}
#siteName {
  font-size: 300%;
}
/* End of styles for the header */

/* Styles for the footer */
#fine-print {
  border-top: 2px solid #0BACB6;
  clear: left;
  text-align: center;
  font-size: 11px;
  padding-top: 10px;
}
#fine-print ul.horz-list li {
  list-style-type: none;
  display: inline;
  padding-left: 8px;
  padding-right: 10px;
  border-right: 1px solid #999;
}
#fine-print ul.horz-list li.last-item {
  border-right: none;
}
#usagov {
  margin-bottom: -2px;
  vertical-align: bottom;
}
/* End of styles for the footer */



body {
  font-family: "sans-serif" ;
  margin: 0px 20px 20px 20px ;
  color: #1E4193 ;
}

#demobody {
  font-size: 14px;
}

h1 {
  font-size: 24px ;
  font-weight: 500;
  color: #1E4193;
  text-align: center;
}

#overview-title {
  font-size: 32px !important;
  text-align: left !important ;
  margin-bottom: 20px !important;
}

h2 {
  font-size: 22px ;
  font-weight: 500 ;
  text-align: center ;
  color: black ;
}

/* h3 margin-bottom setting gets overriden by bootstrap's
   .h3 class if setting not specified as important here
*/
h3 {
  font-size: 20px ;
  font-weight: bold ;
  margin-bottom:  20px !important;
}

/* h4 font-size setting gets overriden by small-print class
   setting if not specified as important here
*/
h4 {
  font-size: 18px !important;
  font-weight: 500 ;
  color: black ;
}

button {
  font-size: 14px ;
}

#validationString {
  margin-top: 0px;
}

#resultString{
  margin-top: 10px;
}

#hints {
  max-width: 800px;
  margin: 10px;
}
#inputfile {
  font-size: 14px ;
  color: #1E4193 ;
}
.section {
  border: 3px solid #ddd;
  border-radius: 25px;
  margin: 25px;
  padding: 15px 25px;
  width: auto;
}
.small-print {
  font-size: 12px;
}

a {
  color:  #17317a;
  text-decoration: underline ;
}

.emphSpan {
  color: red;
  font-weight: 500;
}

input.invalid {
  border: 3px solid red;
}

#resultString.invalid, #validationString.invalid {
  color: red ;
}

/* Override the standard autocompleter settings for an input
   field when a value is typed in that doesn't match what's on
   the list presented
*/
input.no_match {
  background-color: white !important;
  font-style: normal !important;
}


/* Style the links inside the tab list items */

ul.tab li a {
  font-weight: bold;
  font-size: 16px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#advancedSearchCnv, #advancedSearchVal {
  border: 3px dotted #ddd;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}
#convertToDivs {
  width: 100% ;
  display: flex;
  justify-content: flex-start;
}
#convertLeft {
  margin-right: 15px;
}

#convertRight {
  width: 280px;
}

#convertNum {
  width: 10em;
}

button[disabled] {
  color: gray;
}

#precision {
  width: 3em;
}
.topMargin20 {
  margin-top: 20px;
}

/* align the content of search list table cells to the top of the cell */
tr[data-fieldval] {
  vertical-align: top;
}
