node_modules
.idea
.vscode/
# Files from build
data/ucumEssenceVersion.txt
impexp/updateDataBuild.js
impexp/UnitsList.txt
# Files from build on gh-pages branch
demo-test/
docs/
.DS_Store
# Files we want to ignore in git, but not from the npm package.
browser-dist
source-cjs
